table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
}

tr,
td {
  box-sizing: border-box;
}

td {
  border: 1px solid #ddd;
  padding: 3px;
  line-height: 0px;
}

td div {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.piece {
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* .piece::before {
  content: "";
  background: url(../assets/animations/blueToRedSq.gif);
  display: none;
  position: relative;
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
  visibility: hidden;
} */

.animateToRed {
  background: url(../assets/animations/blueToRedSq.gif);
  background-size: 64px 64px;
  display: block;
  visibility: visible;
}

/* .piece::after {
  content: "";
  background: url(../assets/animations/redToBlueSq.gif);
  display: none;
  position: relative;
  top: -100%;
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
  visibility: hidden;
} */

.animateToBlue {
  background: url(../assets/animations/redtoBlue1loop.gif);
  background-size: 64px 64px;
  display: block;
  visibility: visible;
}

.available {
  border: 2px solid var(--activated);
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  cursor: pointer;
}

.red {
  background-image: none;
  background-color: var(--red);
}

.blue {
  background-image: url("");
  background-color: #6e2ab9;
}

.activated {
  color: var(--activated);
}
