table {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

td {
  border: 1px solid #ddd;
  height: 64px;
  width: 64px;
}

.piece {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #d3168c;
}

.blue {
  background-color: #6800e0;
}
